<body>
    <div class="containner containner-login h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-xl-8 col-lg-8 col-md-8 justify-content-center row login-wrapper">
                <div class="col-xl-8 col-lg-10 col-md-10 ps-lg-5 pe-lg-5 login-form">
                    <h2 class="text-center mb-3">Forgot pasword</h2>

                    <p class="text-center">OTP code will be send to your email to confirm seset
                        password</p>

                    <form action="/forget-pwd" method="post" id="fgPwdForm">
                        <div class="input-group" id="emailGroup">
                            <input
                                type="email"
                                id="emailFgPwd"
                                name="email"
                                class="form-control"
                                placeholder="Contact email"
                                aria-describedby="emailTextFgPwd"
                                required
                            />
                            <button class="btn btn-primary" type="button" id="getOTPBtnFgPwd">
                                Get OTP
                            </button>
                        </div>

                        <div class="form-text mb-3" id="emailTextFgPwd"></div>

                        <div class="form-outline mb-3">
                            <input
                                type="text"
                                id="otpCode"
                                name="otpCode"
                                class="form-control"
                                aria-describedby="otpText"
                                disabled
                                required
                            />
                            <label class="form-label" for="otpCode">OTP code</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submitEmail" class="btn btn-success">
                                Verify OTP
                            </button>
                        </div>

                        <p class="mt-4 mb-4 text-center home-navigation">
                            <a href="/login" class="btn btn-outline-info">
                                <i class="fas fa-arrow-left me-1"></i>
                                Login
                            </a>
                            <a href="/" class="btn btn-info">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</body>