<body>
    <div class="containner containner-login h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-xl-8 col-lg-10 col-md-9 justify-content-center row login-wrapper">
                <div class="col-lg-6 col-md-10 ps-lg-5 pe-lg-5 login-form">
                    <h2 class="text-center mb-3">Login</h2>
                    <form action="/login" method="post" id="loginForm" class="">
                        {{#if error.message}}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {{/if}}
                        <div class="form-outline">
                            <i class="fas fa-user trailing"></i>
                            <input
                                type="text"
                                id="usernameLogin"
                                name="username"
                                class="form-control form-control-lg form-icon-trailing"
                                aria-describedby="usernameText"
                                autofocus
                                required
                            />
                            <label class="form-label" for="usernameLogin">Username</label>
                        </div>
                        <div class="form-text mb-4" id="usernameLoginText"></div>

                        <div class="form-outline">
                            <i class="fas fa-lock trailing"></i>
                            <input
                                type="password"
                                id="passwordLogin"
                                name="password"
                                class="form-control form-control-lg form-icon-trailing"
                                aria-describedby="passwordText"
                                required
                            />
                            <label class="form-label" for="passwordLogin">Password</label>
                        </div>
                        <div class="form-text mb-4" id="passwordLoginText"></div>

                        <div class="row mb-4">
                            <div class="col">
                                <a href="/forget-pwd">Forget password?</a>
                            </div>
                        </div>

                        <div class="row"><button
                                type="submit"
                                class="btn btn-primary btn-lg col"
                                style="margin: 0px 12px;"
                            >Login</button></div>

                        <div class="divider mt-4 mb-4">
                            <span class="text-center">Or</span>
                        </div>

                        <a
                            role="button"
                            href="/login/google"
                            type="button"
                            class="btn btn-block btn-lg"
                            style="background-color: #dd4b39; color: #fff;"
                        >
                            <i class="fab fa-google me-1"></i>
                            Login with Google
                        </a>

                        <p class="mt-4 mb-4 text-center">Not a member yet?
                            <a href="/signup">Signup here</a></p>
                        <p class="mt-4 mb-4 text-center home-navigation">
                            <a href="/" class="btn btn-info">
                                <i class="fas fa-arrow-left me-1"></i>
                                Home
                            </a>
                        </p>

                    </form>
                </div>

                <div class="col-lg-6 d-none d-lg-block login-image"></div>
            </div>

        </div>
    </div>
</body>