<body class="signup-body">
    <div class="containner containner-signup h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-xl-8 col-lg-10 col-md-9 justify-content-center row signup-wrapper">
                <div class="col-lg-6 d-none d-lg-block signup-image"></div>

                <div class="col-lg-6 col-md-10 ps-lg-5 pe-lg-5 signup-form">
                    <h2 class="text-center mb-3">Đăng ký</h3>

                    <form action="/signup" method="post" id="signupForm">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <i class="fas fa-user trailing"></i>
                                    <input type="text" id="firstname" class="form-control form-icon-trailing" name="firstname" required />
                                    <label class="form-label" for="firstname">Tên</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-outline">
                                    <i class="fas fa-user trailing"></i>
                                    <input type="text" id="lastname" class="form-control form-icon-trailing" name="lastname" required />
                                    <label class="form-label" for="lastname">Họ</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <i class="fas fa-map-marker-alt trailing"></i>
                            <input
                                type="text"
                                id="address"
                                name="address"
                                class="form-control form-icon-trailing"
                            />
                            <label class="form-label" for="address">Địa chỉ</label>
                        </div>

                        <div class="form-outline mb-4">
                            <i class="fas fa-user trailing"></i>
                            <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control form-icon-trailing"
                                required
                            />
                            <label class="form-label" for="username">Tên đăng nhập</label>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <i class="fas fa-lock trailing"></i>
                                    <input
                                        type="password"
                                        id="password"
                                        name="password"
                                        class="form-control form-icon-trailing"
                                        required
                                    />
                                    <label class="form-label" for="password">Mật khẩu</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-outline">
                                    <i class="fas fa-lock trailing"></i>
                                    <input
                                        type="password"
                                        id="confirmPassword"
                                        name="confirmPassword"
                                        class="form-control form-icon-trailing"
                                        required
                                    />
                                    <label class="form-label" for="confirmPassword">Xác nhận mật khẩu</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <i class="fas fa-user trailing"></i>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control form-icon-trailing"
                                required
                            />
                            <label class="form-label" for="email">Email liên lạc</label>
                        </div>

                        <!-- Modal -->
                        <input type="hidden" id="otpBtn" role="button" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop"></input>
                        <div
                            class="modal fade"
                            id="staticBackdrop"
                            data-mdb-backdrop="static"
                            data-mdb-keyboard="false"
                            tabindex="-1"
                            aria-labelledby="staticBackdropLabel"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Xác thực email</h5>
                                    </div>

                                    <div class="modal-body">
                                        <p>Mã xác thực đã được gửi, vui lòng nhập mã vào đây</p>

                                        <div class="form-outline mb-4">
                                            <i class="fas fa-key trailing"></i>
                                            <input type="text" id="otpCode" class="form-control form-icon-trailing" name="otpCode" />
                                            <label class="form-label" for="otpCode">OTP</label>
                                        </div>

                                        {{!-- Recaptcha --}}
                                        <div class="d-flex justify-content-center mb-4 g-recaptcha" data-sitekey="6LcUfn0dAAAAANmwZGCM1UKPKYIF-vRl3xse6-HU"></div>

                                        <div class="d-grid gap-2">
                                            <button type="button" class="btn btn-success">Xác thực</button>
                                            <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Hủy</button>
                                        </div>

                                        <div class="divider mt-4 mb-4">
                                            <span class="text-center" style="width: 200px; font-size: 14px;">Không nhận được OTP?</span>
                                        </div>

                                        <button type="button" class="btn btn-primary btn-block">Gửi lại</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-primary col" style="margin: 0px 12px">Đăng kí</button>
                        </div>

                        <div class="divider mt-4 mb-4">
                            <span class="text-center">Hoặc</span>
                        </div>

                        <a role="button" href="/signup/google" type="button" class="btn btn-block" style="background-color: #dd4b39; color: #fff;">
                            <i class="fab fa-google me-1"></i>
                            Đăng nhập với google
                        </a>

                        <p class="mt-4 mb-4 text-center">Đã có tài khoản? <a href="/login">Đăng nhập</a></p>
                        <p class="mt-4 mb-4 text-center home-navigation">
                            <a href="/" class="btn btn-info">
                                <i class="fas fa-arrow-left me-1"></i>
                                Trang chủ
                            </a>
                        </p>

                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

{{#section "preJs"}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/section}}

{{#section "js"}}
    <script>
        document.querySelectorAll(".form-outline").forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        {{!-- Submit action --}}
        $("#signupForm").on("submit", function(e) {
            e.preventDefault();

            const passwordValidationStatus = validatePassword();

            if (!passwordValidationStatus) {
                alert("Mật khẩu và xác nhận không khớp nhau.");
                return;
            }

            {{!-- Validate recaptcha first --}}
            $("#otpBtn").click();


            {{!-- Kiểm tra OTP --}}
            {{!-- Submit -> kiểm tra reCaptcha -> submit --}}
        })

        function validatePassword() {
            const password = $("#password").val();
            const confirm = $("#confirmPassword").val();

            if (!password.trim() || !confirm.trim()) {
                return false;
            }

            if (password !== confirm) {
                return false;
            }

            return true;
        }
    </script>
{{/section}}