{{#section "css"}}
    <link rel="stylesheet" href="/css/menu.css" />
{{/section}}

{{#section "banner"}}
    {{> banner title="Auction List" subTitle="Pick a product and bid now"}}
{{/section}}

<section class="container-fluid text-start bg-light top-menu-container">
    <div class="container py-4">
        <h3>Product list</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">All categories</li>
            </ol>
        </nav>
    </div>
</section>

<section class="container-fluid menu-container">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-3 d-xl-block d-none filter-sidebar">
                {{> filterbar}}
            </div>

            {{!-- Product list section --}}
            <div class="col-xl-9 col-12">
                <div class="row g-4 px-4">
                    {{#each productList }}
                        <div class="col-lg-4 col-md-6">
                            <div class="card product-card border">
                                <div class="p-3">
                                    <a href="#" class="card-image">
                                        <img
                                            src="https://cdn.pixabay.com/photo/2018/08/16/19/56/wedding-rings-3611277_960_720.jpg"
                                            class="img-fluid"
                                        />
                                        <div class="mask">
                                            <span><i class="fas fa-search-plus me-1"></i>View details</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <h5 class="card-title">Ring With Clear Stone Accents</h4>

                                    <div class="card-info mb-2 d-flex align-items-center bid">
                                        <i class="fas fa-gavel text-success"></i>
                                        <span class="text-success">Current Bid</span>
                                        <span class="flex-grow-1 text-end">1.000.000 VND</span>
                                    </div>

                                    <div class="card-info mb-2 d-flex align-items-center">
                                        <i class="fas fa-dollar-sign text-danger"></i>
                                        <span class="text-danger">Buy Now</span>
                                        <span class="flex-grow-1 text-end">1.000.000 VND</span>
                                    </div>

                                    <div class="card-info mb-2 d-flex align-items-center">
                                        <i class="fas fa-crown text-warning"></i>
                                        <span class="text-warning">Top Bidder</span>
                                        <span class="flex-grow-1 text-end">*****Khoa</span>
                                    </div>

                                    <div class="card-info mb-2 d-flex align-items-center timer timer-danger">
                                        <span class="timer-danger fw-bolder">0d : 1h : 16m : 59s</span>
                                        <span class="flex-grow-1 text-end">30 Bids</span>
                                    </div>

                                    <button type="button" class="btn btn-primary btn-block">
                                        <i class="fas fa-gavel me-2"></i>
                                        Bid Now
                                    </button>
                                </div>

                                <div class="card-footer text-center px-3 py-2">
                                    <p class="m-0 verical-align-middle">2 days ago</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{!-- Product list section - end --}}

                {{> pagination}}
            </div>
        </div>
    </div>
</section>