{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active"><a href="/user/account">My profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
    </nav>
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Update your password</h3>
    </div>

    <div class="card-body d-flex align-items-center justify-content-center">
        <form method="post" action="" id="updatePassForm">
            <div class="form-outline">
                <i class="fas fa-key trailing"></i>
                <input type="password" id="password" class="form-control form-icon-trailing" name="password" required />
                <label class="form-label" for="password">Old password</label>
            </div>
            <div class="form-text text-danger mb-3" id="passwordText">
                {{#if error.password}}
                    {{ error.password }}
                {{/if}}
            </div>

            <div class="form-outline">
                <i class="fas fa-key trailing"></i>
                <input type="password" id="newPassword" class="form-control form-icon-trailing" name="newPassword" required />
                <label class="form-label" for="newPassword">New password</label>
            </div>

            <div class="form-text mb-3" id="newPasswordText">
                New password must be at least 6 characters and different from the old one
            </div>

            <div class="form-outline">
                <i class="fas fa-key trailing"></i>
                <input type="password" id="confirm" class="form-control form-icon-trailing" required />
                <label class="form-label" for="confirm">Confirm new password</label>
            </div>

            <div class="form-text mb-3" id="confirmNewPasswordText"></div>

            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary btn-block shadow-0">Save change</button>
            </div>
        </form>
    </div>
</div>