{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active"><a href="/user/account">My profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change email</li>
        </ol>
    </nav>
{{/section}}

{{#section "docTitle"}}
    <title>Change Email | Online Auction</title>
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Update your contact email</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-8 col-12">
            <div class="card-body">
                <form method="post" id="updateEmailForm">
                    <div class="input-group" id="emailGroup">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Contact email"
                            aria-describedby="emailtext"
                            required
                        />
                        <button class="btn btn-primary" type="button" id="getOTPBtn">
                            Get OTP
                        </button>
                    </div>
                    <div class="form-text mb-3" id="emailtext">We will send an otp code to this email to verify it's yours</div>

                    <div class="form-outline mb-3">
                        <input
                            type="text"
                            id="otpCode"
                            name="otpCode"
                            class="form-control"
                            aria-describedby="otpText"
                            disabled
                            required
                        />
                        <label class="form-label" for="otpCode">OTP code</label>
                    </div>
                    {{#if error.otp}}
                        <div class="form-text text-danger mb-3" id="otpText">{{error.otp}}</div>
                    {{else}}
                        <div class="form-text text-danger mb-3" id="otpText"></div>
                    {{/if}}
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary btn-block shadow-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>