<h1 class="title">Example App: Home</h1>

<a href="/example/login/google">Sign In with Google</a>

<div id="editor"></div>

<script src="../ckeditor/ckeditor.js"></script>
<script>
    ClassicEditor.create( document.querySelector( '#editor' ), { simpleUpload: { types: ["png",
    "jpeg"], uploadUrl: `/upload`, } } ) .then( editor => { window.editor = editor; } ) .catch(
    error => { console.error( 'There was a problem initializing the editor.', error ); } );

</script>