<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<form action="/register" method="POST">
    <input type="text" name="username" />
    <div class="g-recaptcha" data-sitekey="6LcUfn0dAAAAANmwZGCM1UKPKYIF-vRl3xse6-HU"></div>
    <br />
    <input type="submit" value="Submit" />
</form>