PORT=4200
MODE=DEV
COOKIE_KEY="your key"
COOKIE_KEY_MAX_AGE=1200000

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER="sample@gmail.com"
EMAIL_PASSWORD="sample"

AUTH_GOOGLE_CLIENT_ID="your key"
AUTH_GOOGLE_CLIENT_SECRET="your key"

RECAPTCHA_GOOGLE_SECRET="your key"

MYSQL_HOST_NAME_LOCAL="127.0.0.1"
MYSQL_DB_SCHEMA_LOCAL="online_auction_app"
MYSQL_USER_NAME_LOCAL="root"
MYSQL_PASSWORD_LOCAL="password"

APP_URL="http://localhost:4200"
GOOGLE_APPLICATION_CREDENTIALS="path to firebase-admin-key.json file"
FIREBASE_STORE_BUCKET="your bucket name"