.main .section:nth-child(2n + 1) {
    background-color: #f6f7fb;
}

.main .section .section-body .card {
    height: 100%;
    margin-bottom: 1rem;
    border: 1px solid #89898938;
}

.main .section .section-body .card .bg-image {
    padding: 1.5rem;
}

.main .section .section-body .card .bg-image i {
    font-size: 4.5rem;
}

.owl-stage {
    display: flex;
}
.owl-item {
    margin: 0px 20px;
}
