.main .section:nth-child(2n + 1) {
    background-color: #f6f7fb;
}

.main .section .section-body .card {
    height: 100%;
    margin-bottom: 1rem;
    border: 1px solid #89898938;
}

.main .section .section-body .card .bg-image {
    padding: 1.5rem;
}

.main .section .section-body .card .bg-image i {
    font-size: 4.5rem;
}

.owl-stage {
    display: flex;
}
.owl-item {
    margin: 0px 20px;
}

/* Product card */
.product-card .bg-image .mask {
    background-color: #fbfbfb26;
}

.product-card .card-body .card-info i {
    font-size: 1.25rem;
    margin-right: 10px;
    width: 35px;

    text-align: center;
}

.product-card .card-body .card-info.bid i {
    font-size: 2.25rem;
}

.product-card .card-body .card-info.bid {
    font-size: 1.2rem;
}

.product-card .card-body .card-info.bid > span:first-child {
    max-width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.product-card .card-body .card-info.timer > span:first-child {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.product-card .card-body .card-info.timer > span:first-child.timer-danger {
    background-color: #f93154;
}

.product-card .card-body .card-info.timer > span:first-child.timer-warning {
    background-color: #ffa900;
}

.product-card .card-body .card-info.timer > span:first-child.timer-success {
    background-color: #00b74a;
}

.product-card .card-body button {
    background-color: var(--main-color);
    padding: 15px 25px;
    font-size: 15px;
}
