.main .section:nth-child(2n) {
    background-color: #f6f7fb;
}

.main .section .section-body .card {
    height: 100%;
    margin-bottom: 1rem;
    border: 1px solid #89898938;
}

.main .section .section-body .card .bg-image {
    padding: 1.5rem;
}

.main .section .section-body .card .bg-image i {
    font-size: 4.5rem;
}

.owl-stage {
    display: flex;
}

#whath2a .section-body > div > div > i {
    font-size: 3rem;
}

#whath2a .section-body > div > div > p {
    font-size: 1.25rem;
    word-break: keep-all;
    hyphens: auto;
}

#whyh2a .section-body .section-body-why-item {
    height: 100%;
}

#whyh2a .section-body .section-body-why-item i {
    font-size: 3rem;
    color: var(--main-color);
}

#whyh2a .section-body .section-body-why-item h5 {
    /* flex-grow: 1; */
    margin-bottom: 0;
}

#learn_automation .section-body p {
    font-size: 1.25rem;
}
