.menu-container {
    min-height: 100vh;
    height: auto;
}

.filter-sidebar {
    z-index: 1000;
}

.filter-sidebar .card-header[aria-expanded="false"] i::before {
    content: "\f054";
}

.filter-sidebar .card-header {
    background-color: var(--main-color);
    color: #fff;
}

.filter-sidebar .card-header h6,
.filter-sidebar .card-header i {
    font-weight: 600;
}

.categories-group .categories-item {
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.categories-group .categories-item::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 100%;
    width: 3%;
}

.categories-group .categories-item > a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4f4f4f;
}

.categories-group .categories-item > a i {
    font-size: 0.75rem;
}

.categories-group .categories-item:hover {
    background-color: #f7f7ff;
}

.categories-group .categories-item:hover > a {
    color: var(--main-color);
}

.categories-group .categories-item .categories-subgroup {
    position: absolute;
    left: 103%;
    top: 0;
    min-width: max-content;
    display: none;
}

.categories-group .categories-item:hover .categories-subgroup {
    display: block;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}

#top-menu-container {
    margin-top: calc(1.5rem + 50px);
}

/* Product information */
/* Preview images */
.product-images .card-body-images {
    cursor: pointer;
}

.product-images .card-images-preview .owl-stage,
.product-related .owl-stage {
    display: flex;
}

.card-images-preview .card-sub-images-item img {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

/* .product-images .card-images-preview .owl-item,
.product-related .owl-item {
    margin: 0px 10px;
} */

/* Product information - details */
.product-details .card-body.card-body-info .card-body-info-item .left {
    min-width: 120px;
}

.product-details .card-body.card-body-info .card-body-info-item .left span {
    color: #757575;
}

.product-details .card-body.card-body-info .card-body-info-item .left span,
.product-details .card-body.card-body-info .card-body-info-item .right > span {
    font-size: 1.15rem;
}

.product-details .card-body.card-body-info .card-body-info-item .right > span > span {
    font-size: 0.85rem;
}

.product-details .card-body.card-body-info .card-body-info-item .right > span > i {
    font-size: 1.25rem;
}

/* Bid price - bigger */
.product-details .card-body.card-body-info .card-body-info-item .right.bidprice > span {
    font-size: 1.65rem;
}

.product-details .card-body.card-body-info .card-body-info-item .right.bidprice > span > span {
    font-size: 1rem;
}

/* Remaining time tag */
.product-details .timer {
    padding: 4px 10px;
    border-radius: 5px;
}

.product-details .timer.timer-danger {
    background-color: #f93154;
}

.product-details .timer.timer-warning {
    background-color: #ffa900;
}

.product-details .timer.timer-success {
    background-color: #00b74a;
}

/* Button group */
.card-btn-group .btn {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;

    box-shadow: none;
}

.card-btn-group #add-wishlist {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-btn-group #btn-share {
    color: #fff;
}

.card-btn-group #add-wishlist:hover {
    color: #fff;
    background-color: #f93154;
}

.card-btn-group #btn-bid {
    background-color: var(--main-color);
    color: #fff;
}

.card-btn-group #btn-buynow {
    background-color: #00b74a;
    color: #fff;
}

/* Tab */
.product-extra .nav-tabs .nav-link.active {
    color: var(--main-color);
    border-color: var(--main-color);
}

.product-extra .nav-tabs .nav-link {
    font-weight: 600;
}

/* Toggle filter btn */
#toggle-filter-btn {
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;

    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: 1px solid #e0e0e0;
}

#toggle-filter-btn:hover {
    background-color: #f7f7ff;
}

@media (max-width: 991px) {
    #toggle-filter-btn {
        display: inline-flex;
    }
}

/* Filter modal */
.filter-modal .modal-dialog {
    height: 100%;
}

.filter-modal .modal-content {
    height: auto;
    min-height: 100vh;
    width: 300px;
}

.filter-modal .animate__animated.animate__slideInLeft,
.filter-modal .animate__animated.animate__slideOutLeft {
    --animate-duration: 0.5s !important;
    --animate-delay: 0.5s !important;
}

.filter-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100vw;
    height: 100vh;
    display: none;
}
.filter-modal.show {
    display: block;
}
