a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ck-content ul {
    list-style-type: disc;
}

body {
    scroll-behavior: smooth;
}

* {
    font-size: 15px;
}

:root {
    --main-color: #6963ff;
    --secondary-color: #f82b89;
    --main-text-color: #000000;
    --secondary-text-color: #0000008c;
}

/* Navbar start */
.header .navbar {
    padding: 0.75rem 0;
    box-shadow: none;
    transition: padding 0.2s ease;
}

.header .navbar.navbar-scrolled {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    padding: 0.74rem 0;
}

.header .navbar-wrapper .logo img {
    width: 200px;
    height: 100%;
}

.header .navbar-wrapper .nav-item {
    font-weight: 500;
    display: block;
    border-radius: 5px;
}

.header .navbar-wrapper .nav-item:not(:last-child) {
    margin-right: 4px;
}

.header .navbar-wrapper .nav-item.active,
.header .navbar-wrapper .nav-item:hover {
    background-color: var(--main-color);
}

.header .navbar-wrapper .nav-item#login {
    background-color: var(--secondary-color);
}

.header .navbar-wrapper .nav-item#login .nav-link {
    color: #fff;
}

.header .navbar-wrapper .nav-item#login:hover {
    background-color: #e41a78;
}

.header .navbar-wrapper .nav-item .nav-link {
    padding: 0.5rem 1.25rem;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.header .navbar-wrapper .nav-item.active .nav-link,
.header .navbar-wrapper .nav-item:hover .nav-link {
    color: #fff;
}

/* Navbar profile dropdown */
.header .navbar-wrapper .profile-dropdown > a::after {
    border: none;
}

.header .navbar-wrapper .profile-dropdown > a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
}

.header .navbar-wrapper .profile-dropdown > a > span > i {
    font-size: 12px;
}

.header .navbar-wrapper .profile-dropdown .dropdown-menu {
    top: 120%;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: #fcfcfc;
}

.header .navbar-wrapper .profile-dropdown .dropdown-menu::before {
    position: absolute;
    content: "";

    top: -5%;
    right: 15%;
    display: inline-block;

    border-right: 5px solid transparent;
    border-bottom: 5px solid #0028641f;
    border-left: 5px solid transparent;
    border-bottom-color: #00000033;
}

.header .navbar-wrapper .profile-dropdown .dropdown-menu::after {
    position: absolute;
    content: "";

    top: -5%;
    right: 15%;
    display: inline-block;

    border-right: 5px solid transparent;
    border-bottom: 5px solid #fcfcfc;
    border-left: 5px solid transparent;
}

.header .navbar-wrapper .profile-dropdown .dropdown-menu > li:first-child .dropdown-item,
.header .navbar-wrapper .profile-dropdown .dropdown-menu > li:last-child .dropdown-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header .navbar-wrapper .dropdown-menu .dropdown-item:hover {
    color: var(--main-color);
    background-color: #f7f7ff;
}

.header .navbar-wrapper .dropdown-menu .dropdown-item i {
    color: var(--main-color);
}

/* Banner */
.banner {
    background-image: url("/images/banner-bg.jpg");
    height: 400px;
    margin-top: 58px;
}

.banner .mask {
    background: linear-gradient(to right, #3ba3ff80, #6963ff80);
}

.banner .mask .btn,
#about_btn {
    background-color: var(--secondary-color);
    color: #fff;
    box-shadow: none;
}

.banner .mask .btn i {
    font-size: 20px;
    transition: all 0.1s ease;
}

.banner .mask .btn:hover i {
    transform: rotate(45deg);
}

/* Footer */
.newsletter-form-container {
    background-color: #fff;
}
.newsletter-form button {
    background-color: var(--secondary-color);
    color: #fff;
}

.newsletter-form button:hover {
    color: #fff;
}

.footer {
    background-color: var(--main-color);
}

.footer img {
    width: 100%;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: -60px;
    z-index: 1056;

    background-color: #9253ff;
    color: #fff;
    width: 45px;
    height: 45px;

    border-radius: 50%;
    box-shadow: 0 4px 12px 0 #0000001a, 0 2px 4px #0000000d;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}

.back-to-top:hover {
    color: #fff;
    background-color: #8345f0;
}

.back-to-top.showbtn {
    right: 20px;
    bottom: 20px;
}

/* Product card */
.product-card .card-image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.product-card .card-image .mask {
    background-color: #807bfd;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;

    height: 30px;
    top: unset;
}

.product-card .card-image:hover .mask {
    opacity: 1;
    visibility: visible;
}

.product-card .card-image .mask span {
    color: #fff;
    font-size: 1.25rem;
}

.product-card .card-body .card-info > i {
    font-size: 1rem;
    margin-right: 8px;
    width: 35px;
    text-align: center;
}

.product-card .card-body .card-info.bid > span:first-child {
    max-width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.timer > span:first-child {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
}

.timer > span:first-child.timer-danger {
    background-color: #f93154;
}

.timer > span:first-child.timer-warning {
    background-color: #ffa900;
}

.timer > span:first-child.timer-success {
    background-color: #00b74a;
}

.product-card .card-body a.bidnow {
    background-color: var(--main-color);
    padding: 10px 20px;
    font-size: 15px;
}

/* Pagination */
.pagination-container .pagination .page-item .page-link {
    cursor: pointer;
}
.pagination-container .pagination .page-item.active .page-link {
    background-color: var(--main-color);
}

/* Bread crumb */
.breadcrumb-item > a {
    color: #000;
}

/* Custom modal backdrop */
.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1054;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
}

.custom-modal-backdrop.show {
    opacity: 0.5;
    visibility: visible;
}

/* Custom button */
.btn.btn-custom,
.btn.btn-custom:hover {
    color: #fff;
}

.btn.btn-custom.btn-custom-main {
    background-color: var(--main-color);
}

.btn.btn-custom.btn-custom-secondary {
    background-color: var(--secondary-color);
}

/* Skelethon */
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 3px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(199, 13%, 72%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Product tag new */
.ribbon {
    position: absolute;
    background-color: #00b74a;
    color: #fff;
    border-radius: 2px;

    font-weight: 500;
    font-size: 1rem;

    width: 55px;
    padding: 0.25rem 0;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
}
