.table.table-custom {
    vertical-align: middle;
}

.table.table-custom.table-striped tbody tr:nth-of-type(odd) td {
    background-color: #fafaff;
    --mdb-table-accent-bg: unset;
}

.table.table-custom.table-striped tbody tr:hover td {
    background-color: #fafaff;
    --mdb-table-accent-bg: unset;
}

.table.table-custom thead th,
.table.table-custom tbody td {
    padding: 0.75rem 1rem;
    overflow: hidden;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;

    min-width: 45px;
    max-width: 200px;
    font-size: 1rem;
}

.table.table-custom thead th {
    font-weight: 600;
}

.table.table-custom thead th {
    background-color: #fbfbfb;
}

.table.table-custom tbody td[scope="row"] {
    font-weight: 600;
}

.table.table-custom .tag {
    display: inline-block;
    color: #fff;
    padding: 4px 15px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 500;
}

.table.table-custom .tag.tag-success {
    background-color: #00b74a;
}

.table.table-custom .tag.tag-danger {
    background-color: #f93154;
}

/* Remaining time tag */
.table.table-custom .timer {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.table.table-custom .timer.timer-danger {
    background-color: #f93154;
}

.table.table-custom .timer.timer-warning {
    background-color: #ffa900;
}

.table.table-custom .timer.timer-success {
    background-color: #00b74a;
}

/* Open child button */
.table.table-custom .toggle-children-btn i {
    /* font-size: 0.75rem; */
    font-weight: 800;
}

/* Action */
.action .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Table root row */
.table.table-custom .root-level {
    background-color: #fafaff;
}

.table.table-custom .child-1-level td:not(:last-child) {
    padding-left: 2rem;
}

.table.table-custom .child-1-level td:first-child {
    border-left: 2px solid var(--main-color);
}
