{{#section "css"}}
    <link rel="stylesheet" href="/css/home.css" />
{{/section}}

{{#section "banner"}}
    {{> banner title="About this website" subTitle="Meet us and explore about this application" extra=false}}
{{/section}}

<section class="main">
    <div class="section" id="whath2a">
        <div class="d-flex flex-column align-items-center py-5 container">
            <h2 class="mb-4">What is H2A Bid?</h2>

            <div class="row g-3 section-body">
                <div class="col-lg-4 col-md-12 col-sm-12 justify-content-center">
                    <div class="text-center mb-4 text-primary">
                        <i class="fas fa-gavel"></i>
                    </div>
                    <div class="p-3">
                        <p>"H2A Bid" is an online auction website. We provide various kinds of
                            products from many categories to our customers through the "Online
                            auction" method.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 justify-content-center">
                    <div class="text-center mb-4 text-danger">
                        <i class="fas fa-bullseye"></i>
                    </div>
                    <div class="p-3">
                        <p>
                            Our goal is to provide the best, safe and comfortable online environment
                            for auction to our customers. Customers' experience is our priority.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 justify-content-center">
                    <div class="text-center mb-4 text-secondary">
                        <i class="far fa-file-code"></i>
                    </div>
                    <div class="p-3">
                        <p>"H2A Bid" was designed and developed by the H2A Team from University Of
                            Science - VNU Ho Chi Minh City.
                        </p>
                        <p>
                            We have 3 members: Huy Le Minh, Hung Nguyen Hua and Anh Le Hoang.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="whyh2a">
        <div class="d-flex flex-column align-items-center py-5 container">
            <h2 class="mb-4">Why H2A Bid?</h2>

            <div class="row gx-4 section-body justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-user-friends mb-3"></i>
                        <h5 class="align-self-center">Friendly User Interface</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-cubes mb-3"></i>
                        <h5 class="align-self-center">Well-organized Categories</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-coins mb-3"></i>
                        <h5 class="align-self-center">Easy Bidding and Selling</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-robot mb-3"></i>
                        <h5 class="align-self-center">Automatic Bidding Feature</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="far fa-credit-card mb-3"></i>
                        <h5 class="align-self-center">Secure Transactions</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-undo mb-3"></i>
                        <h5 class="align-self-center">Returns Policy</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm56 mb-3 section-body-why-item">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-headset mb-3"></i>
                        <h5 class="align-self-center">24/7 Support</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="learn_automation">
        <div class="d-flex flex-column align-items-center py-5 container">
            <h2 class="mb-4">How does "automatic bidding" work?</h2>

            <div class="row g-3 section-body">
                <p>On H2A Bid, we use an automatic feature to provide a convenient and efficient
                    bidding experience to our precious customers. We call it the “Automatic Bidding”
                    feature.
                </p>

                <p>
                    When you bid, the website asks you to enter an amount of money in order to join
                    the auction. That money is called “Tolerable Money”, which is the maximum money
                    that you can pay for the product and it must be at least higher than the current
                    price of the product.
                </p>

                <p>
                    The system now will base on the maximum money you have entered to automatically
                    bid for the product as long as your budget is still sustainable.
                </p>

                <p>
                    While the auction is happening, if there is a person who surpasses you in the
                    “Tolerable Money”, our system will send an email to inform you about that.
                </p>

                <p>
                    When the bidding session of the product reaches its end, if you are the winner
                    of the auction, our system also sends an email to inform you.
                </p>

                <p>
                    You do not have to do anything else, just enter your “Tolerable Money” and our
                    system will take care of everything.
                </p>
            </div>
        </div>
    </div>

</section>

{{#section "js"}}{{/section}}