{{#section "css"}}
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css" />
{{/section}}

{{#section "banner"}}
    {{> banner title="Online Auction" subTitle="Are You Ready To Bid?" extra=true}}
{{/section}}

<section class="main">
    {{! How to bid section start }}
    <div class="section" id="howToBid">
        <div class="d-flex flex-column align-items-center py-5 container">
            <h2 class="mb-3">Getting started</h2>
            <p class="mb-4">Follow the instruction and waiting for bidding result</p>

            <div class="row g-3 section-body mb-4">
                <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
                    <a href="/signup" class="text-body">
                        <div class="card text-center">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <i class="fas fa-file-signature text-primary"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Step 1</h5>
                                <p class="card-text">
                                    Register to be a bidder
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
                    <a href="/menu/categories/all" class="text-body">
                        <div class="card text-center">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <i class="fas fa-check-square text-success"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Step 2</h5>
                                <p class="card-text">
                                    Choose your favourite product
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
                    <div class="card text-center">
                        <div class="bg-image" data-mdb-ripple-color="light">
                            <i class="fas fa-gavel text-info"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Step 3</h5>
                            <p class="card-text text-body">
                                Bid them with a appropriate price
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
                    <div class="card text-center">
                        <div class="bg-image" data-mdb-ripple-color="light">
                            <i class="fas fa-mug-hot text-warning"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Step 4</h5>
                            <p class="card-text text-body">
                                Take a nap and wait for the result
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-lg" id="about_btn" href="/about/#learn_automation">
                How it works
                <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>

    {{! Top 5 products are due }}
    <div class="section container-fluid">
        <div class="container py-5">
            <h2 class="mb-3 text-center">Top due products</h2>
            <p class="mb-4 text-center">Hurry up, choose a product and start bidding</p>
            <div class="d-flex section-body containner h-auto">
                <div class="owl-carousel owl-theme" id="topDue">
                    {{#each products.initArray}}
                        <div class="card product-card border">
                            <div class="p-3 skeleton" style="height: 200px;"></div>

                            <div class="card-body p-3 d-flex flex-column justify-content-between">
                                <div class="card-title skeleton" style="height: 45px;"></div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 150px"></div>
                                    <div class="skeleton" style="height: 35px; width: 80px"></div>
                                </div>

                                <div class="btn-block skeleton" style="height: 45px;"></div>
                            </div>

                            <div class="card-footer text-center px-3 py-2">
                                <p class="m-0 verical-align-middle skeleton" style="height: 30px;"></p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{! Top 5 products most bidded }}
    <div class="section container-fluid">
        <div class="container py-5">
            <h2 class="mb-3 text-center">Most bidded</h2>
            <p class="mb-4 text-center">Let's bid and bring them home</p>
            <div class="d-flex section-body containner h-auto">
                <div class="owl-carousel owl-theme" id="topBidded">
                    {{#each products.initArray}}
                        <div class="card product-card border">
                            <div class="p-3 skeleton" style="height: 200px;"></div>

                            <div class="card-body p-3 d-flex flex-column justify-content-between">
                                <div class="card-title skeleton" style="height: 45px;"></div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 150px"></div>
                                    <div class="skeleton" style="height: 35px; width: 80px"></div>
                                </div>

                                <div class="btn-block skeleton" style="height: 45px;"></div>
                            </div>

                            <div class="card-footer text-center px-3 py-2">
                                <p class="m-0 verical-align-middle skeleton" style="height: 30px;"></p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{! Top 5 products highest }}
    <div class="section container-fluid">
        <div class="container py-5" id="topHighest">
            <h2 class="mb-3 text-center">Most highest</h2>
            <p class="mb-4 text-center">Price is not a problem, try your luck once!</p>

            <div class="d-flex section-body containner h-auto">
                <div class="owl-carousel owl-theme" id="topHigh">
                    {{#each products.initArray}}
                        <div class="card product-card border">
                            <div class="p-3 skeleton" style="height: 200px;"></div>

                            <div class="card-body p-3 d-flex flex-column justify-content-between">
                                <div class="card-title skeleton" style="height: 45px;"></div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                    <div class="skeleton" style="height: 35px; width: 125px"></div>
                                </div>

                                <div class="card-info mb-2 d-flex align-items-center justify-content-between bid">
                                    <div class="skeleton" style="height: 35px; width: 150px"></div>
                                    <div class="skeleton" style="height: 35px; width: 80px"></div>
                                </div>

                                <div class="btn-block skeleton" style="height: 45px;"></div>
                            </div>

                            <div class="card-footer text-center px-3 py-2">
                                <p class="m-0 verical-align-middle skeleton" style="height: 30px;"></p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

{{#section "js"}}
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/home.js"></script>
{{/section}}