<aside class="d-flex flex-column sidebar">
    <a href="/admin" class="sidebar-logo px-3 py-1 text-center">
        <img id="web-logo" src="/images/logo_auction_v3_reverse_v2.png" alt="logo" />
    </a>

    <ul class="d-flex flex-column py-4 menu">
        <li class="menu-item active ps-3 d-inline-block">
            <a href="/admin" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-home me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Admin Home Page</span>
            </a>
        </li>

        <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/bidders/upgrade" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-angle-double-up me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Bidder Upgrade Requests</span>
            </a>
        </li>

        <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/sellers" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-user me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Seller List</span>
            </a>
        </li>

        <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/users" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-users me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">User List</span>
            </a>
        </li>

        <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/products" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-th-large me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Product List</span>
            </a>
        </li>

        <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/categories" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-boxes me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Manage Category</span>
            </a>
        </li>

        {{!-- <li class="menu-item ps-3 d-inline-block">
            <a href="/admin/categories/create" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-plus-square me-3"></i>
                <span class="flex-grow-1">Create New Category</span>
            </a>
        </li> --}}

        <li class="menu-item ps-3 d-inline-block">
            <a href="/menu/categories/all" class="d-flex align-items-center ps-3 py-2">
                <i class="fas fa-gavel me-3 d-flex justify-content-center align-items-center" style="width: 20px"></i>
                <span class="flex-grow-1">Go To Auction Platform</span>
            </a>
        </li>
    </ul>
</aside>