<div class="p-5 text-center bg-image banner">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3 text-uppercase">Online Auction</h1>
                <h4 class="mb-3 fw-lighter text-white">Are You Ready To Bid?</h4>

                <a class="btn btn-lg" href="#" role="button">
                    <i class="fas fa-gavel me-2"></i>
                    Bid now
                </a>
            </div>
        </div>
    </div>
</div>