<div class="card border shadow-0 mb-3">
    <div
        class="card-header border-0 d-flex justify-content-between"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseCategories"
        aria-expanded="true"
        aria-controls="collapseCategories"
    >
        <h6 class="m-0">Categories</h6>
        <i class="fas fa-chevron-down"></i>
    </div>

    <div class="card-body p-0 collapse show" id="collapseCategories">
        <ul class="list-group rounded-0 border-0 categories-group">
            <li class="list-group-item border-start-0 border-end-0 categories-item">
                <a href="#">
                    <span>Danh mục cha 1</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <ul class="list-group rounded-2 categories-subgroup">
                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item border-start-0 border-end-0 categories-item">
                <a href="#">
                    <span>Danh mục cha 2</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <ul class="list-group rounded-2 categories-subgroup">
                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item border-start-0 border-end-0 categories-item">
                <a href="#">
                    <span>Danh mục cha 3</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <ul class="list-group rounded-2 categories-subgroup">
                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item border-start-0 border-end-0 categories-item">
                <a href="#">
                    <span>Danh mục cha 4</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <ul class="list-group rounded-2 categories-subgroup">
                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item border-start-0 border-end-0 categories-item">
                <a href="#">
                    <span>Danh mục cha 5</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <ul class="list-group rounded-2 categories-subgroup">
                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>

                    <li class="list-group-item categories-item">
                        <a href="#">
                            <span>Danh mục con 1</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="card border shadow-0 mb-3">
    <form action="">
        <div
            class="card-header border-0 d-flex justify-content-between"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#collapseFilter"
            aria-expanded="true"
            aria-controls="collapseFilter"
        >
            <h6 class="m-0">Pick a filter</h6>
            <i class="fas fa-chevron-down ms-auto"></i>
        </div>

        <div class="card-body collapse show py-0" id="collapseFilter">
            <div class="py-3">
                <h6>Price</h6>
                <div class="form-check mb-3">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="sortPrice"
                        id="priceAsc"
                        value="price_asc"
                        checked
                    />
                    <label class="form-check-label" for="priceAsc">Lowest first</label>
                </div>

                <div class="form-check mb-3">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="sortPrice"
                        id="priceDesc"
                        value="price_desc"
                    />
                    <label class="form-check-label" for="priceDesc">Highest first</label>
                </div>

                <div><hr class="dropdown-divider" /></div>

                <h6>Remaining time</h6>
                <div class="form-check mb-3">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="sortTime"
                        id="remainLeast"
                        value="due_asc"
                        checked
                    />
                    <label class="form-check-label" for="remainLeast">Shortest first</label>
                </div>

                <div class="form-check mb-3">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="sortTime"
                        id="remainMost"
                        value="due_desc"
                    />
                    <label class="form-check-label" for="remainMost">Longest first</label>
                </div>
            </div>
        </div>

        <div
            class="card-header border-0 border-bottom border-top d-flex justify-content-between"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#collapsePrice"
            aria-expanded="true"
            aria-controls="collapsePrice"
        >
            <h6 class="m-0">Choose price range</h6>
            <i class="fas fa-chevron-down"></i>
        </div>

        <div class="card-body collapse show py-0" id="collapsePrice">
            <div class="py-3 row">
                <div class="col-6">
                    <div class="form-outline">
                        <input
                            type="number"
                            min="0"
                            id="minPrice"
                            class="form-control"
                            placeholder="VND"
                            name="minPrice"
                        />
                        <label class="form-label" for="minPrice">Min price</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-outline">
                        <input
                            type="number"
                            min="0"
                            id="maxPrice"
                            class="form-control"
                            placeholder="VND"
                            name="maxPrice"
                        />
                        <label class="form-label" for="maxPrice">Max price</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button
                type="submit"
                class="btn btn-block btn-secondary shadow-0"
                style="font-size: 15px;"
            >
                Apply filter
            </button>
        </div>
    </form>
</div>