<section class="container-fluid border-top border-bottom py-4 newsletter-form-container">
    <form action="" class="mb-0 newsletter-form">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <h4 class="pt-2 my-0">
                    <i class="far fa-paper-plane me-2 fs-3"></i>
                    Subscribe to our newsletter
                </h4>

                <p class="my-0">You will receive out news about new features, advertisements,...</p>
            </div>

            <div class="col-md-5 col-12 align-self-center">
                <div class="form-outline">
                    <input type="email" id="form5Example2" class="form-control" required />
                    <label class="form-label" for="form5Example2">Email address</label>
                </div>
            </div>

            <div class="col-auto align-self-center">
                <button type="submit" class="btn" disabled>
                    Subscribe
                </button>
            </div>
        </div>
    </form>
</section>

<footer class="text-center text-light footer" id="footer">
    <div class="container p-5">
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">H2A Team</h5>

                    <img src="/images/logo_auction_v3_reverse_v2.png" alt="Logo footer" />
                </div>

                <div class="col-lg-5 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About this website</h5>

                    <p class="text-start">
                        An online auction website which was designed and developed by H2A Team from University Of Science.
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact us</h5>

                    <ul class="list-unstyled mb-0 text-start">
                        <li>
                            <i class="fas fa-map-marker-alt me-2"></i>
                            227 Nguyen Van Cu street, ward 4, district 5, Ho Chi Minh city, Viet Nam
                        </li>
                        <li>
                            <i class="fas fa-phone-alt me-2"></i>
                            0123456789
                        </li>
                        <li>
                            <i class="fas fa-envelope me-2"></i>
                            h2ateam.se@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Designed and Developed by
        <a class="text-white" href="/">H2A Team</a>
    </div>
</footer>