<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="navbar">
        <div class="container navbar-wrapper">
            <a href="/" class="logo d-flex align-items-center">
                <img src="/images/logo-auction-v3.png" alt="logo" />
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#appNavbar"
                aria-controls="appNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="appNavbar">
                <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                    <li class="dropdown d-flex align-items-center me-2">
                        <span
                            class="dropdown-toggle shadow-0"
                            type="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fas fa-search"></i>
                        </span>
                        <div class="dropdown-menu" style="width: max-content">
                            <form
                                class="row py-3 px-2 align-items-center m-0"
                                method="get"
                                action="/menu/categories/all"
                            >
                                <div class="col-9">
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            id="search"
                                            class="form-control"
                                            name="search"
                                            placeholder="Type to search..."
                                        />
                                        <select class="form-control" name="type">
                                            <option value="all">All</option>
                                            <option value="prod">By product</option>
                                            <option value="cat">By categories</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <button
                                        type="submit"
                                        class="btn btn-primary px-2"
                                    >Search</button>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item nav-item-header">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item nav-item-header dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            type="button"
                            id="aboutDropdown"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            href="/about"
                        >
                            About
                        </a>
                        <ul class="dropdown-menu rounded" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="/about/#whath2a">What is H2A Bid?</a></li>
                            <li><a class="dropdown-item" href="/about/#whyh2a">Why H2A Bid?</a></li>
                            <li><a class="dropdown-item" href="/about/#learn_automation">Automatic Bidding?</a></li>
                        </ul>
                    </li>

                    <li class="nav-item nav-item-header">
                        <a class="nav-link" href="/menu/categories/all">Products</a>
                    </li>
                    {{#unless localUser.isAuth}}
                        <li class="nav-item nav-item-header" id="login">
                            <a class="nav-link" href="/login">Join now</a>
                        </li>
                    {{/unless}}
                </ul>

                {{#if localUser.isAuth}}
                    <div class="d-flex align-items-center">
                        <a
                            href="/user/wishlist"
                            type="button"
                            class="text-reset me-3"
                            data-mdb-toggle="tooltip"
                            data-mdb-placement="bottom"
                            title="Wishlist"
                        >
                            <i class="fas fa-heart text-danger text-lg fs-5"></i>
                            {{#if (isGreaterThan wishlist.length 9)}}
                                <span class="badge rounded-pill badge-notification bg-success">9+</span>
                            {{else}}
                                <span class="badge rounded-pill badge-notification bg-success">{{wishlist.length}}</span>
                            {{/if}}
                        </a>

                        <div class="dropdown profile-dropdown">
                            <a
                                class="dropdown-toggle d-flex align-items-center"
                                href="javascript:void(0)"
                                id="headerNavbarProfile"
                                role="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="/images/default-avatar.png"
                                    class="rounded-circle"
                                    height="35"
                                    alt="Portrait of a User"
                                    loading="lazy"
                                />

                                <span class="ms-2">
                                    {{localUser.fullname}}
                                    <i class="fas fa-chevron-down ms-1"></i>
                                </span>
                            </a>

                            <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="headerNavbarProfile"
                            >
                                <li>
                                    <a class="dropdown-item" href="/user/account">
                                        <i class="fas fa-user me-2"></i>
                                        My profile
                                    </a>
                                </li>

                                {{#if (isEqual localUser.role 1)}}
                                    <li>
                                        <a class="dropdown-item" href="/admin">
                                            <i class="fas fa-tachometer-alt me-2"></i>
                                            My dashboard
                                        </a>
                                    </li>
                                {{/if}}

                                <li>
                                    <a class="dropdown-item" href="/bidder/bidding">
                                        <i class="fas fa-gavel me-2"></i>
                                        My bidding products
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="/seller/products">
                                        <i class="fas fa-list me-2"></i>
                                        My selling products
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider" /></li>

                                <li>
                                    <form
                                        action="/logout"
                                        method="post"
                                        id="logoutForm"
                                        class="mb-0"
                                    >
                                        <button class="dropdown-item text-danger" type="submit">
                                            <i class="fas fa-power-off me-2 text-danger"></i>
                                            Logout
                                        </button>
                                    </form>

                                </li>
                            </ul>
                        </div>
                    </div>
                {{/if}}

            </div>

        </div>
    </nav>

    {{{_sections.banner}}}
</header>