<aside class="card border shadow-0">
    <div class="card-body">
        <div class="border-0 d-flex mb-4">
            <img
                src="/images/default-avatar.png"
                class="rounded-circle me-3"
                height="45"
                alt="Portrait of a User"
                loading="lazy"
            />

            <div class="d-flex flex-column flex-grow-1 justify-content-between">
                <span class="">Account of</span>
                <h5 class="m-0">{{localUser.fullname}}</h5>
            </div>
        </div>

        <ul class="m-0 p-0 profile-bar d-flex flex-column">
            {{! User section }}
            <li class="profile-bar-item">
                <a class="p-2" href="/user/account">
                    <i class="fas fa-user me-3"></i>
                    My profile
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/user/wishlist">
                    <i class="fas fa-heart me-3"></i>
                    My wishlist
                </a>
            </li>
            
            <li class="profile-bar-item">
                <a class="p-2" href="/user/feedback/view">
                    <i class="fas fa-comments me-3"></i>
                    My feedbacks
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/bidder/account/upgrade">
                    <i class="fas fa-angle-double-up me-3"></i>
                    Upgrade request
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/bidder/bidding">
                    <i class="fas fa-gavel me-3"></i>
                    My bidding products
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/bidder/won">
                    <i class="fas fa-trophy me-3"></i>
                    My won list
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/seller/products">
                    <i class="fas fa-list-ul me-3"></i>
                    My selling products
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/seller/products/results">
                    <i class="fas fa-list me-3"></i>
                    Auction result
                </a>
            </li>

            <li class="profile-bar-item">
                <a class="p-2" href="/seller/products/create">
                    <i class="fas fa-plus me-3"></i>
                    Create new products
                </a>
            </li>
        </ul>

    </div>
</aside>