{{#section "docTitle"}}
    <title>Home | Admin Dasboard</title>
{{/section}}

<section aria-label="breadcrumb" class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Admin Home Page</h3>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admin Home Page</li>
    </ol>
</section>

<div class="card shadow-custom d-flex flex-column">
    <div class="card-body text-center">
        <h1 class="card-title mb-3">Welcome back Admin User</h1>

        <div class="card-text mb-3">Good to see you here, there are some works for you!</div>

        <a href="/admin/bidders/upgrade" type="button" class="btn btn-lg btn-custom btn-custom-main">
            Let's check it out
        </a>

    </div>
</div>