{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">My bidding products</li>
        </ol>
    </nav>
{{/section}}

{{#section "css"}}
    <link rel="stylesheet" href="/css/table.css" />
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Bidding products</h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 table-custom">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product name</th>
                        <th scope="col">My price</th>
                        <th scope="col">Bidding time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Current price</th>
                        <th scope="col">Expried time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Product 1 with long content Product 1</td>
                        <td>11,000,000</td>
                        <td>1/11/2019 10:43</td>
                        <td>
                            <div class="">
                                <span class="tag tag-success">Ok</span>
                            </div>
                        </td>
                        <td>10,800,000</td>
                        <td>1/12/2019 10:43</td>
                        <td>
                            <div class="action">
                                <a
                                    href="/menu/products/1"
                                    class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                    title="View details"
                                    data-mdb-toggle="tooltip"
                                >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Product 2</td>
                        <td>11,000,000</td>
                        <td>1/11/2019 10:43</td>
                        <td>
                            <div class="action">
                                <span class="tag tag-success">Ok</span>
                            </div>
                        </td>
                        <td>10,800,000</td>
                        <td>1/12/2019 10:43</td>
                        <td>
                            <div class="action">
                                <a
                                    href="/menu/products/2"
                                    class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                    title="View details"
                                    data-mdb-toggle="tooltip"
                                >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Product 3</td>
                        <td>11,000,000</td>
                        <td>1/11/2019 10:43</td>
                        <td>
                            <div class="action">
                                <span class="tag tag-success">Ok</span>
                            </div>
                        </td>
                        <td>10,800,000</td>
                        <td>1/12/2019 10:43</td>
                        <td>
                            <div class="action">
                                <a
                                    href="/menu/products/3"
                                    class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                    title="View details"
                                    data-mdb-toggle="tooltip"
                                >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">4</td>
                        <td>Product 4</td>
                        <td>11,000,000</td>
                        <td>1/11/2019 10:43</td>
                        <td>
                            <div class="action">
                                <span class="tag tag-success">Ok</span>
                            </div>
                        </td>
                        <td>10,800,000</td>
                        <td>1/12/2019 10:43</td>
                        <td>
                            <div class="action">
                                <a
                                    href="/menu/products/4"
                                    class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                    title="View details"
                                    data-mdb-toggle="tooltip"
                                >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">5</td>
                        <td>Product 5</td>
                        <td>11,000,000</td>
                        <td>1/11/2019 10:43</td>
                        <td>
                            <div class="action">
                                <span class="tag tag-danger">Failed</span>
                            </div>
                        </td>
                        <td>10,800,000</td>
                        <td>1/12/2019 10:43</td>
                        <td>
                            <div class="action">
                                <a
                                    href="/menu/products/5"
                                    class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                    title="View details"
                                    data-mdb-toggle="tooltip"
                                >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>